main {
  margin: auto;
  padding: 1rem;
  width: 85%;
  max-width: calc(100% - 2rem);
  line-height: 1.6;
}

h1 {
  font-size: 3rem;
  font-weight: 600;
  line-height: 1;
  margin-bottom: 1px;
}

h2 {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1;
  margin-bottom: 1em;
  color: rgb(var(--accent-bold));
}

p {
  font-size: 1rem;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* link styles */

.unstyle-a {
  color: inherit;
  text-decoration: none;
}

a:hover,
a:focus,
a:visited {
  color: inherit;
  text-decoration: none;
}

/* custom colours */

.text-light {
  color: rgb(var(--accent-light));
}

.text-accent {
  color: rgb(var(--accent));
}

.text-dark {
  color: rgb(var(--accent-dark));
}

.text-bold {
  color: rgb(var(--accent-bold));
}

.text-gradient {
  background-image: var(--accent-gradient);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 400%;
  background-position: 0%;
}

$nav-bg-color: rgb(var(--background));
$nav-text-color: rgb(var(--accent-light));

$neon-colors: (
  "indigo": rgb(var(--neon-indigo)),
  "blue": rgb(var(--neon-blue)),
  "green": rgb(var(--neon-green)),
  "orange": rgb(var(--neon-orange)),
  "yellow": rgb(var(--neon-yellow)),
  "pink": rgb(var(--neon-pink)),
);
  


@mixin glow($color) {
  box-shadow:
    0 0 6px 0px $color,
    0 0 2px 0px $color;
  border-color: $color;
  border-width: 0.15rem;
}

@mixin glow-hover($color) {
  &:hover {
    box-shadow:
      0 0 8px 0px $color,
      0 0 16px 2px $color;
    border-color: $color;
    border-width: 0.15rem;
  }
}

$default-color: rgb(var(--neon-indigo));
$avatar-color: rgb(var(--neon-pink));

.glow-hover {
  @include glow-hover($default-color);
}

.glow-border {
  @include glow($default-color);
}

.glow-avatar {
  @include glow($avatar-color);
  @include glow-hover($avatar-color);
}



/* layout */

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-start {
  display: flex;
  justify-content: start;
  align-items: start;
}

.column-single {
 display: grid;
  gap: 20px;
}

.column-double {
  display: grid;
  grid-template-columns: repeat(2, minmax(200px, 1fr));
  row-gap: 20px;
  column-gap: 75px;
}

.column-grow {
  display: grid;
  grid-template-columns: auto 1fr;
  row-gap: 20px;
  column-gap: 50px;
  align-items: center; 
}

.column-container {
  padding: 20px;
  justify-content: center;
}

.section {
  padding-top: 3rem;
}

.wrap-container {
  flex-wrap: wrap;
}

.project-column {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 20px;
  column-gap: 50px;
}

/* header and nav */
  
header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: $nav-bg-color;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  }

.navbar {
  position: fixed;
  right: 0;
  padding-right: 15px;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 10px;
}

.nav-link {
  text-decoration: none;
  color: $nav-text-color;
  padding: 0.5rem;
  transition: background-color 0.3s ease;
  border-radius: 0.25rem;
  display: inline-block;
}

.nav-toggle {
  display: none;
  background: none;
  border: none;
  color: rgb(var(--accent-dark));
  font-size: 2rem;
  z-index: 1001;
}

.nav-toggle:hover {
  color: rgb(var(--neon-indigo))
}

/* project cards */

.card {
  width: 450px;
  height: 400px;
  margin-top: 15px;
  overflow: hidden;
  box-sizing: border-box;
  background: rgba(191, 215, 255, 0.3);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(191, 215, 255, 0.4);
  }

.card-image {
  width: 100%;
  height: 100%;
  max-height: 300px;
  object-fit: contain;
}

.card-name {
  font-size: 1.5rem;
  padding: 15px;
  margin: 0;
  color: rgb(var(--accent-light));
}

/* buttons */

.link-button {
  background-color: rgb(var(--background));
  color: rgb(var(--accent-light));
  font-size: 1rem;
  min-width: 150px;

&:hover {
  color: rgb(var(--accent-light));
  background-color: rgb(var(--accent-dark));
}
}

/* list */

.item-list {
  margin: 0;
  border-radius: 15px;
  font-weight: bold;
  gap: 8px;
  padding: 10px; 
}


/* image */
.avatar {
  position: absolute; 
  top: 50%; 
  left: 50%;
  transform: translate(-50%, -50%);
  width: 95%; 
  height: 95%; 
  object-fit: cover; 
  border-radius: 50%; 
  background-color: rgb(var(--accent-dark));
  border: 3px solid rgb(var(--neon-yellow));
  border-right: none;
}

.avatar-container {
  width: 15rem; 
  height: 15rem;
  position: relative; 
  margin: 3rem; 
}

.avatar-border {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgb(var(--neon-pink));
 
  // box-sizing: border-box;
}


/* media queries */

@each $key, $color in $neon-colors {
  .nav-#{$key} .nav-link {
    @extend .nav-link;
    &:hover {
      border-color: $color;
      box-shadow: 0 0 8px 0px $color,
                  0 0 16px 2px $color;
      border-width: 0.75rem;
    }
  }
}

@media (max-width: 500px) {
  
  .column-double {
    grid-template-columns: 1fr;
    column-gap: 0; 
  }

  .card {
    width: 100%;
    height: auto
  }

  }
  
  @media (max-width: 768px) {

  .navbar {
    flex-direction: column;
    align-items: flex-end;
}
  .nav-right {
      display: none;
      flex-direction: column;
      background-color: $nav-bg-color;
      position: absolute;
      top: 100%;
      z-index: 1000;
      align-items: flex-end; 
  }

  .nav-right.active {
      display: flex;
  }

  .nav-toggle {
      display: block;
  }

}

@media (max-width: 1024px) {
  .project-column {
    grid-template-columns: 1fr;
    column-gap: 0; 
  }

}