main {
  margin: auto;
  padding: 1rem;
  width: 85%;
  max-width: calc(100% - 2rem);
  line-height: 1.6;
}
h1 {
  font-size: 3rem;
  font-weight: 600;
  line-height: 1;
  margin-bottom: 1px;
}
h3 {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1;
  margin-bottom: 1em;
}

p {
  font-size: 1rem;
}
/* custom styles */

.text-light {
  color: rgb(var(--accent-light));
}
.text-accent {
  color: rgb(var(--accent));
}
.text-dark {
  color: rgb(var(--accent-dark));
}
.text-bold {
  color: rgb(var(--accent-bold));
}

.text-gradient {
  background-image: var(--accent-gradient);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 400%;
  background-position: 0%;
}

.skills-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.column {
  flex: 1;
  min-width: 25px;
  box-sizing: border-box;
}

.section {
  padding-top: 3rem;
}

$nav-bg-color: #111D4A;
$nav-text-color: rgb(var(--accent-light));

$nav-hover-colors: (
  "home": #6F00EF,
  "about": #007FFF,
  "skills": #77FB00,
  "projects": #FAAB00,
  "contact": #F400FF
);

.navbar {
  position: fixed;
  top: 0;
  width: 85%;
  background-color: $nav-bg-color;
  padding: 1px;
  border-radius: 0.25rem;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
}

.nav-item {
  margin: 0;
  padding-right: 5px;
  display: inline-block;
}

.nav-link {
  text-decoration: none;
  color: $nav-text-color;
  padding: 0.5rem;
  transition: background-color 0.3s ease;
  border-radius: 0.25rem;
  display: inline-block;
}

@each $key, $color in $nav-hover-colors {
  .nav-#{$key} .nav-link {
    @extend .nav-link;
    &:hover {
      border-color: $color;
      box-shadow: 0 0 8px 0px $color,
                  0 0 16px 2px $color;
      border-width: 0.75rem;
    }
  }
}

@media (max-width: 768px) {
  .column {
    min-width: 100%;
  }
}
