---

---

<div id="about" class="section">
<h2>About Me</h2>
  <p class="text-light">My transition into the tech industry has been one of <span class="text-bold">the most exciting and rewarding adventures I've undertaken.</span>
    With a background in operations management, I have developed a diverse set of human and business skills that set me apart. My interest in technology was sparked by automating and improving processes within the relational database FileMaker, which <span class="text-accent">I have worked with for over five years</span> across my last two roles. Earlier this year I chose to determine my path and study at <a class="text-accent" href="https://devacademy.co.nz/">Dev Academy Aotearoa</a>. Making this change has been a big risk and has taken a lot of sacrifice from myself and those close to me, however it is worth it in order to progress into a career for my long term future.</p>

  <br>
  <p class="text-light">I thrive in both analytical and creative thinking and love a great team environment with space for growth and learning.</p>
  <p class="text-light">I love to cook, enjoy the outdoors, and absolutely can't resist a bit of DIY - yet I’ll make a thorough plan before beginning a project! I am curious by nature and get a kick out of finding a innovative solution. <span class="text-accent">Creativity is part of my everyday life</span> and love to try new things; I believe that this life experience is valuable to bring with me into a career.</p>
</div>