---
import ContactButton from "../ContactButton.astro";

---

<div class="line-break">
    <footer id="contact" class="flex-center">
      <div class="flex-center wrap-container gap">
      <p class="text-bold">Want to know more? </p>
      <ContactButton 
      href="https://www.linkedin.com/in/aimee-mcneil-melville/", 
      icon="logos:linkedin-icon", 
       />
      <ContactButton 
      href="https://github.com/aimee-mcneil-melville", 
      icon="simple-icons:github", 
     />
     <ContactButton 
     href="mailto:hello@aimeenz.com", 
     icon="ph:envelope", 
     name="hello@aimeenz.com" />
    </div>
  </footer>
</div>

<style>

.line-break {
  border-top: 2px solid  rgb(var(--accent-dark));
  width: 100%;
}

</style>