---
import Avatar from "../Avatar.astro";
import IntroText from "../IntroText.astro";


---

<div id="intro" class="text-light section">
  <h1 class="text-gradient">McNeil-Melville</h1>
  <div class="wrap-container">
  <div class="column-grow flex-center">
    <Avatar/>
    <IntroText/>
</div>
</div>
</div>
