---
import Avatar from "../Avatar.astro";
import IntroText from "../IntroText.astro";


---
<section id="intro" class="flex-center">
  <div  class="text-light">
  <div>
    <h1 class="text-gradient">McNeil-Melville</h1>
  </div>
  <div class="wrap-container">
  <div class="column-grow flex-center">
    <Avatar/>
    <IntroText/>
</div>
</div>
</div>
</section>