--- 

import Card from '../Card.astro'
import { db, Portfolio } from 'astro:db';

const data: Portfolio[] = await db.select().from(Portfolio);


interface Portfolio {
id: number
title: string
subtitle:  string
image:  string
goal:  string
text: string
}
---
<section  id="projects" class="flex-center">
  <div>
    <h2 class="">Projects</h2>
    <div class="flex-center wrap-container">
    <div class="wrap-container flex-center">
    {data.map((Portfolio ) =>
            <Card id={Portfolio.id} image={Portfolio.image} title={Portfolio.title}/>
      )}
    </div>
    </div>
  </div>
</section>
