---

import { Icon } from 'astro-icon/components'

---
<div id="skills" class="section">
<h3 class="text-gradient">Skills</h3>
<div class="skills-container">
  <ul class="column text-light">
    <p class="text-bold">Tech Skills</p>
    <li> <Icon name='logos:react'/> React.js</li>
    <li> <Icon name='logos:typescript-icon-round'/> Typescript</li>
    <li> <Icon name='logos:javascript'/> Javascript</li> 
    <li> <Icon name='logos:knex'/> Knex.js</li> 
    <li> <Icon name='logos:vitest'/> Vite Testing</li> 
    <li> <Icon name='logos:tailwindcss-icon'/> Tailwind</li> 
</ul>
<ul class="column text-light">
    <p class="text-bold">Human Skills</p>
    <li> <Icon name='ph:lightbulb-filament'/> Problem Solving</li>
    <li> <Icon name='ph:users-three'/> Team Leadership</li> 
    <li> <Icon name='ph:chats-circle-fill'/> Communication</li>
    <li> <Icon name='ph:microphone-stage'/> Public Speaking</li> 
    <li> <Icon name='ph:puzzle-piece'/> Critical Thinking</li> 
    <li> <Icon name='ph:hand-heart'/> Emotional Intelligence</li> 
</ul>
</div>
</div>

<style>

[data-icon] {
    font-size: 1.5rem;
}
[data-icon="ph:lightbulb-filament"] {
  color: #6F00EF;
}
[data-icon="ph:users-three"] {
  color: #007FFF;
}
[data-icon="ph:chats-circle-fill"] {
  color: #77FB00;
}
[data-icon="ph:microphone-stage"] {
  color: #FEFF00;
}
[data-icon="ph:puzzle-piece"] {
  font-size: 2rem;
  color: #FAAB00;
}
[data-icon="ph:hand-heart"] {
    color: #F400FF;
}

ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
        }

</style>
