---

import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Intro from '../components/Sections/Intro.astro';
import About from '../components/Sections/About.astro';
import Skills from '../components/Sections/Skills.astro';
import Projects from '../components/Sections/Projects.astro';

---

<Layout title="Aimee McNeil-Melville">
  <main>
  <Header/>
  <Intro/>
  <About/>
  <Skills/>
  <Projects/>
	</main>
</Layout>

<style>


</style>