---

import Layout from '../layouts/Layout.astro';
import NavBar from '../components/NavBar.astro';
import Intro from '../components/Intro.astro';
import About from '../components/About.astro';
import Skills from '../components/Skills.astro';

---

<Layout title="Aimee McNeil-Melville">
  <main>
  <NavBar/>
  <Intro/>
  <About/>
  <Skills/>
	</main>
</Layout>

<style>


</style>