---

---

<h3 id="about" class="text-gradient">About Me</h3>
<div>
  <p class="text-light">My transition into web development has been one of <span class="text-bold">the most exciting and rewarding adventures I've undertaken.</span>
    I bring with me a background in operations management, finance, and customer service. While my previous roles were multi-faceted, one of my absolute <span class="text-dark">favourite</span> parts was learning how to build and expand our database software.</p>
  <p class="text-light">This enjoyment has led me to pursue software development as a career and complete the bootcamp at <a class="text-dark" href="https://devacademy.co.nz/">Dev Academy Aotearoa.</a> </p>
  <br>
  <p class="text-light"> I am creative, love to cook, enjoy the outdoors, and absolutely can't resist a bit of DIY. I adore dogs and am a nature lover - my favourite place in the summer is the beach.</p>
  <p class="text-light"> I thrive with a great team environment with space for growth and learning - I love to learn as well as teaching and supporting others.</p>
</div>