---
import IntroText from "./IntroText.astro";


---

<div class="">
<div class="avatar-container"> 
  <div class="avatar-border glow-avatar"> 
    <img class="avatar" src="avatar.png"/>
  </div>
  </div>
</div>