---
import data from '../../data.json'

interface Project {
name: string
subtitle:  string
goal:  string
image:  string
tech:  string[]
}

interface Data {
  Projects: Project[]
}

const { Projects: projects }: Data = data;

---

<div class="card-group text-light">
{(projects).map((project, index) =>
  <div id={`project-${index}`} class="card"> 
  <img src={project.image} class="card-image"/>
    <div class="card-content">
      <p class="card-name">{project.name}</p>
      <ul>{project.tech.map((tech) => (
        <li class="card-list">{tech}</li>))}
      </ul>
    </div>
  </div>
)}
</div>