---
import { Icon } from "astro-icon/components";

const { href, icon, name } = Astro.props;
---


<a href={href} target="_blank" class="unstyle-a  flex-center">
  <button class=" link-button link-hover flex-center"> <Icon name={icon}/>{name}</button>
</a>


<style>
[data-icon] {
    font-size: 1.5rem;
}

[data-icon="ph:envelope"] {
  font-size: 2rem;
  color: rgb(var(--accent-bold));
  margin-right: 10px;
}

[data-icon="simple-icons:github"] {
  color: rgb(var(--neon-pink));
}

</style>