---
import NavBar from '../components/NavBar.astro'
---

<div class="img-wrapper">
  <header>
    <h1 class="text-gradient name">McNeil-Melville</h1>
    <img src="/Background.png" class="background" />
    <img src="/Foreground.png" class="foreground" />
  </header>
  <div class="gradient-box"></div>
</div>