---
import NavBar from '../components/NavBar.astro';

---
<div class="img-wrapper">
<header>
    <img src="/Background.png" class="background">
    <img src="/Foreground.png" class="foreground">
  </header>
  <div class="gradient-box"></div>
  <h1 class="text-gradient">Aimee</h1>
  <NavBar/>

    </div>