---

import { db, eq, Gallery } from 'astro:db';

const { portfolioId } = Astro.props

const data = await db.select()
  .from(Gallery)
  .where(eq(Gallery.portfolioId, portfolioId));

---

<div class="flex wrapper-20">
<div class="flex image-container">{data.map((Gallery ) => (
  <img class="zoom-image hover image-border" src={Gallery.image}></img>))}
</div>
</div>
