---

---

<h1 class="text-light"><span class="text-gradient">Aimee</span> McNeil-Melville</h1>
<div>
<p class="text-bold">Full Stack Web Developer</p>
<p class="text-light">Kia Ora, I'm Aimee</p>
<p class="text-dark">I'm a web developer, based in Auckland Aotearoa.</p>
<p class="text-light">Have a look around my portfolio, I am currently working on new projects to add so watch this space! If you are interested in my work please get in touch - I am looking for connections and employment.</p> 
</div>