---

---

<div class="">
  <p class="text-bold">Full Stack Web Developer</p>
  <p >Kia Ora, I'm Aimee</p>
  <p class="text-accent">I'm an ambitious web developer interested in software and cloud computing, based in Auckland Aotearoa.</p>
  <p>Have a look around my portfolio, I am currently working on new projects to add so watch this space! If you are interested in my work please get in touch - I am looking for connections and employment.</p> 
</div>
