---

import { Icon } from 'astro-icon/components';
import { db, eq, Links } from 'astro:db';

const { portfolioId } = Astro.props

const data = await db.select()
  .from(Links)
  .where(eq(Links.portfolioId, portfolioId));

---

<div class="text-light flex-start wrap-container gap">{data.map((link) => (
      <a href={link.url} target="_blank" class="unstyle-a">
        <div class="flex-center link-button link-hover"> <Icon name= {link.logo}/> {link.title}</div>
      </a>
      ))}
  </div>

  <style>
    [data-icon] {
        font-size: 2.5rem;
        margin-right: 10px;
    }
    
    [data-icon="simple-icons:github"] {
      color: rgb(var(--neon-pink));
    }
    [data-icon="simple-icons:youtube"] {
      color: rgb(var(--neon-pink));
    }
    </style>




