---

import { Icon } from 'astro-icon/components';
import { db, eq, Links } from 'astro:db';

const { portfolioId } = Astro.props

const data = await db.select()
  .from(Links)
  .where(eq(Links.portfolioId, portfolioId));

---


    
    <div class="">{data.map((link) => (
      <a href={link.url} class="">
        <button class=""> <Icon name= {link.logo}/> {link.title}</button>
      </a>
      ))}
  </div>