---

import { Icon } from 'astro-icon/components';
import { db, eq, Links } from 'astro:db';

const { portfolioId } = Astro.props

const data = await db.select()
  .from(Links)
  .where(eq(Links.portfolioId, portfolioId));

---


    <div class="column-container">
      <p class="text-bold">Want to know more?</p>
<div class="text-light column-single">{data.map((link) => (
      <a href={link.url} target="_blank" class="unstyle-a">
        <div class="item-list flex-center link-button glow-border"> <Icon name= {link.logo}/> {link.title}</div>
      </a>
      ))}
  </div>
</div>

