---

---

<nav class="flex-center navbar">
  <ul class="nav-right nav-item">
    <li class="nav-indigo"><a href="/" class="nav-link">Home</a></li>
    <li class="nav-blue"><a href="/#about" class="nav-link">About Me</a></li>
    <li class="nav-green"><a href="/#skills" class="nav-link">Skills</a></li>
    <li class="nav-orange"><a href="/#projects" class="nav-link">Projects</a></li>
    <li class="nav-pink"><a href="/#contact" class="nav-link">Contact</a></li>
  </ul>
  <button class="nav-toggle">
    &#9776;
  </button>
</nav>

<script>

document.addEventListener('DOMContentLoaded', function() {
    const navToggle = document.querySelector('.nav-toggle');
    const navRight = document.querySelector('.nav-right');
    const navSelect = document.querySelectorAll('.nav-right a');

    if (navToggle && navRight) {
    navToggle.addEventListener('click', function() {
        navRight.classList.toggle('active');
    });
  }
  navSelect.forEach(select => {
        select.addEventListener('click', () => {
            if (navRight) {
                navRight.classList.remove('active');
            }
        });
    });

});
</script>