---

---

<nav class="navbar">
  <h1 class="nav-item"><a href="#intro" class="text-gradient">Aimee</a></h1>
  <ul>
    <li class="nav-item nav-home"><a href="#intro" class="nav-link">Home</a></li>
    <li class="nav-item nav-about"><a href="#about" class="nav-link">About Me</a></li>
    <li class="nav-item nav-skills"><a href="#skills" class="nav-link">Skills</a></li>
    <li class="nav-item nav-projects"><a href="#projects" class="nav-link">Projects</a></li>
    <li class="nav-item nav-contact"><a href="#contact" class="nav-link">Contact</a></li>
  </ul>
</nav>
