--- 

// import { db , Portfolio} from 'astro:db';
import Card from '../components/Card.astro'

// const project = await db.select().from(Portfolio);

---

<div id="projects" class="section">
  <h3 class="text-gradient">Projects</h3>
<Card/>
  </div>