---

import { Icon } from 'astro-icon/components'

---

<h3 class="text-gradient">Skills</h3>
<div>
  <p class="text-bold">Tech Skills</p>
  <ul>
    <li class="text-light"> <Icon name='logos:react'/> React.js</li>
    <li class="text-light"> <Icon name='logos:typescript-icon-round'/> Typescript</li>
    <li class="text-light"> <Icon name='logos:javascript'/> Javascript</li> 
    <li class="text-light"> <Icon name='logos:knex'/> Knex.js</li> 
    <li class="text-light"> <Icon name='logos:vitest'/> Vite Testing</li> 
    <li class="text-light"> <Icon name='logos:tailwindcss-icon'/> Tailwind</li> 
</ul>
</div>

<div>
  <p class="text-bold">Human Skills</p>
  <ul>
    <li class="text-light"> <Icon name='ph:chats-circle-fill'/> Communication</li>
    <li class="text-light"> <Icon name='ph:lightbulb-filament'/> Problem Solving</li>
    <li class="text-light"> <Icon name='ph:users-three'/> Team Leadership</li> 
    <li class="text-light"> <Icon name='ph:hand-heart'/> Emotional Intelligence</li> 
    <li class="text-light"> <Icon name='ph:microphone-stage'/> Public Speaking</li> 
    <li class="text-light"> <Icon name='ph:puzzle-piece'/> Critical Thinking</li> 
</ul>
</div>

<style>
[data-icon="ph:chats-circle-fill"] {
    font-size: 2rem;
    color: #F400FF
    ;
}
[data-icon="ph:lightbulb-filament"] {
    font-size: 2rem;
    color: #6F00EF;
}
[data-icon="ph:users-three"] {
    font-size: 2rem;
    color: #007FFF;
}
[data-icon="ph:hand-heart"] {
    font-size: 2rem;
    color: #77FB00;
}
[data-icon="ph:microphone-stage"] {
    font-size: 2rem;
    color: #FEFF00;
}
[data-icon="ph:puzzle-piece"] {
    font-size: 2rem;
    color: #FAAB00;
}

ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
        }

</style>
