---

import { db, eq, Tech } from 'astro:db';
import { Icon } from 'astro-icon/components'

const { portfolioId } = Astro.props

const data = await db.select()
  .from(Tech)
  .where(eq(Tech.portfolioId, portfolioId));

---

<div>
<ul class="text-light"> <p class="text-bold">Tech Skills</p> {data.map((Tech ) => (
  <li class="item-list"> <Icon name={Tech.icon}/> {Tech.name} </li>))}
</ul>
</div>