---

import { db, eq, Tech } from 'astro:db';
import { Icon } from 'astro-icon/components'

const { portfolioId } = Astro.props

const data = await db.select()
  .from(Tech)
  .where(eq(Tech.portfolioId, portfolioId));

---

<div class="column-container">
  <p class="text-bold">Tech Skills</p> 
<ul class="text-light column-double">{data.map((Tech ) => (
  <li class="item-list flex-start glow-border"> <Icon name={Tech.icon}/> {Tech.name} </li>
  ))}
</ul>
</div>

<style>

.text-bold {
  text-align: center;
}

</style>