---
import { db, eq, Tech } from 'astro:db'
import { Icon } from 'astro-icon/components'
import skillsData from '../../data.json'

const { portfolioId } = Astro.props

const data = await db
  .select()
  .from(Tech)
  .where(eq(Tech.portfolioId, portfolioId))

const matchedSkills = data.map((skill) => {
  const matchedIcon = skillsData.find(
    (icon: { icon: string }) => icon.icon === skill.icon
  )
  return {
    ...skill,
    color: matchedIcon ? matchedIcon.color : null,
  }
})
---

<div>
  <p class="text-bold">Tech Skills</p>
  <ul class="skill-list">
    {
      matchedSkills.map((skill) => (
        <li
          class={`flex-center text-light skill-item skill-item--${skill.color}`}
        >
          <Icon class={`icon icon--${skill.color}`} name={skill.icon} />
          {skill.name}
        </li>
      ))
    }
  </ul>
</div>

<style>

</style>