---

import { db, eq, Tech } from 'astro:db';

const { portfolioId } = Astro.props

const data = await db.select()
  .from(Tech)
  .where(eq(Tech.portfolioId, portfolioId));

---

<div>
<ul class="text-light"> <p class="text-bold">Tech Skills</p> {data.map((Tech ) => (
  <li class="project-list">{Tech.name}</li>))}
</ul>
</div>