---
  import '../styles/styles.scss';
interface Props {
	title: string;
}
const { title } = Astro.props;
---

<!doctype html>
<html lang="en" style="scroll-behavior: smooth";>
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/logo.png" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	:root {
    --background: 17,29,74;
		--accent: 120, 139, 255;
		--accent-light: 191, 215,  255;
		--accent-dark: 84, 101, 255;
    --accent-bold: 253, 232, 173;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent-dark)),
			rgb(var(--accent)) 30%,
			white 70%
		);

--neon-indigo: 71, 10, 255;
--neon-blue: 51, 153, 255;
--neon-green: 119, 251, 0;
--neon-orange: 250, 171, 0;
--neon-yellow: 254, 255, 0;
--neon-pink: 244, 0, 255;
	}
	html {
		font-family: monospace, sans-serif;
		background: rgb(var(--background));
		background-size: 224px;
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}

  /* icon colours */

[data-icon] {
  font-size: 1.5rem;
}

[data-icon="simple-icons:react"], [data-icon="simple-icons:tailwindcss"], [data-icon="ph:lightbulb-filament"] {
color: rgb(var(--neon-indigo))
}
[data-icon="simple-icons:sqlite"], [data-icon="simple-icons:typescript"], [data-icon="simple-icons:visualstudiocode"], [data-icon="simple-icons:claris"], [data-icon="ph:users-three"], [data-icon="ph:magnifying-glass-bold"] {
  color: rgb(var(--neon-blue))
}
[data-icon="simple-icons:vitest"], [data-icon="simple-icons:bulma"], [data-icon="ph:chats-circle-fill"] {
  color: rgb(var(--neon-green))
}
[data-icon="simple-icons:javascript"], [data-icon="simple-icons:github"], [data-icon="ph:microphone-stage"] {
  color: rgb(var(--neon-yellow))
}
[data-icon="simple-icons:knexdotjs"], [data-icon="simple-icons:npm"], [data-icon="simple-icons:express"], [data-icon="simple-icons:auth0"], [data-icon="ph:wrench-bold"], [data-icon="ph:puzzle-piece"] {
color: rgb(var(--neon-orange))
}
[data-icon="simple-icons:astro"], [data-icon="simple-icons:sass"], [data-icon="ph:hand-heart"] {
  color: rgb(var(--neon-pink))
}
</style>
